* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5em 0.5em -0.4em #1c241d;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 120px;
}

.bin-container {
    width: 40px;
    height: 40px;
    padding: 30px;
    background-image: url(./assets/img/bin.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.bin-counter {
    padding-top: 40px;
    font-size: 22px;
    text-align: center;
}